<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--TABLEAU NOTIFS -->
                 <div class="card">
                    <div class="header">
                        <h4 class="title list-group-item active" >Notifications</h4>
                    </div>
                   <!--  <div class="content table-responsive table-full-width">
                          <table class="table table-hover">
                                <p></p>
                          </table>

                    </div> -->
                     <div class="content table-responsive table-full-width">
                          <table class="table table-hover ">
                                <thead>
                                    <tr>                                        
                                        <th>Libellé :</th><th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr [routerLink]="['../client_notifications']" *ngFor="let notif of notifications" >
                                        <td>{{ notif.libelle }}</td><td>{{ notif.date | date:"dd/MM/yy hh:mm" }}</td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
                    <!--TABLEAU MES COMPTES-->
                <div class="card">
                    <div class="header">
                        <h4 class="title list-group-item active" >Mes comptes</h4>
                        <p class="category" ></p>
                    </div>
                   
<div class="list-group">
 
  <a  class="list-group-item list-group-item-action"> <table class="table table-hover ">
                               <thead>
                                 <th>Type de Compte</th>
                                 <th>Solde</th>
                               </thead>
                                <tbody>
                                    <tr [routerLink]="['../comptes']" *ngFor="let compte of comptes" >
                                        <td>Compte Courant{{compte.numCompte}}</td><td>{{ compte.solde }}</td>
                                    </tr>
                                    <tr  [routerLink]="['../epargne']" *ngFor="let epargne of epargnes" >
                                        <td>Compte Epargne</td><td>{{ epargne.solde }}</td>
                                    </tr>
                                </tbody>
                          </table></a>
 
 
</div>
                </div>
            </div>
        </div>
    </div>
</div>