<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--TABLEAU NOTIFS -->
                 <div class="card">
                    <div class="header">
                        <h4 class="title">Notifications</h4>
                    </div>
                    <div class="content table-responsive table-full-width" *ngIf='(getUnreadNotificationsCount() == 0)'>
                          <table class="table table-hover">
                                <p>Aucune nouvelle notification.</p>
                          </table>

                    </div>
                     <div class="content table-responsive table-full-width" *ngIf='(getUnreadNotificationsCount() > 0)'>
                          <table class="table table-hover ">
                                <thead>
                                    <tr>                                        
                                        <th>Libellé :</th><th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr [routerLink]="['../client-notifications']" *ngFor="let notif of getUnreadNotifications()" >
                                        <td>{{ notif.libelle }}</td><td>{{ notif.date | date:"dd/MM/yy hh:mm" }}</td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
                    <!--TABLEAU MES COMPTES-->
                <div class="card">
                    <div class="header">
                        <h4 class="title" [routerLink]="['../comptes']">Mes comptes</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover ">
                                <thead>
                                    <tr>                                        
                                        <th>Numero de compte</th><th>Solde</th><th>rib</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let compte of client.comptes" >
                                        <td>{{ compte.numCompte }}</td><td>{{ compte.solde }}</td><td>{{ compte.rib }}</td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>