<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="container">


	<div class="row">
		
        
        <div class="col-md-12">
        <h4>Gestion des demandes d'ouvertures de compte</h4>
        <div class="table-responsive">

                
    <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   
                   <th><input type="checkbox" id="checkall" /></th>
                   <th>N°</th>
                    <th>Agent</th>
                     <th>Statuts</th>
                     <th>Date de la demande</th>
                     <th>Date affectation</th>
                      <th>Affectation</th>

                   </thead>
    <tbody>
    
    <tr *ngFor="let dem of demandes">
    <td><input type="checkbox" class="checkthis" /></td>
    <td>{{dem.id}}</td>
    <td><select>
      <option *ngFor="let ag of agents | async">{{ag.nom}}</option>

    </select>
    <td>{{dem.agent}}</td>
    <td>{{dem.status}}</td>
    <td>{{dem.dateDem | date}}</td>
    <td>null</td>
    <td><p data-placement="top" data-toggle="tooltip" title="Affecter"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" (click)="test()">Affecter</button></p></td>
    </tr>
    

    </tbody>
        
</table>

        </div>
	</div>
</div>


