<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="container">


	<div class="row">
		
        
        <div class="col-md-12">
        <h4>Gestion des demandes d'ouvertures de compte</h4>
        <div class="table-responsive">

                

              <table id="mytable" class="table table-bordered table-striped">

                   
                   <thead>
                   
                    <th>Date Demande</th>
                    <th>Affectation</th>
                    <th>Date affectation</th>
                    <th>Status</th>
                    <th>Fiche info</th>
                    <th></th>
                   </thead>
    <tbody>
    
    <tr *ngFor="let dem of demandes | async">
    <td>{{dem.dateDemande | date}}</td>
    <td>{{dem.estAffecte}}</td>
    <td>{{dem.dateAffectation | date}}</td>
    <td>{{dem.status}}</td>
    <td>{{dem.ficheInfo}}</td>
    <td><p data-placement="top" data-toggle="tooltip" title="Affecter"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" (click)="test()">Affecter</button></p></td>
    </tr>
    

    </tbody>
        
</table>

        </div>
	</div>

  <app-affectation-agent *ngIf="liste"></app-affectation-agent>
</div>


