

<div class="row">
    
        
        <div class="col-md-11">
        <div class="table-responsive">
          <a class="nav-link active" >
                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                   
                   <!-- <th><input type="checkbox" id="checkall" /></th> -->
                  <th scope="col"><a class="nav-link "  >Compte Epargne</a></th>

                   <tr>
            <th>Numero</th><th>Solde</th><th>Date</th>
           
          </tr>
                   </thead>
    <tbody>
    
    <tr *ngFor="let epargne of epargnes">
            <td>{{ epargne.numCompte }}</td><td>{{ epargne.solde }} €</td><td>{{ epargne.rib }}</td>
          </tr>
   </tbody>
</table></a>
</div></div>

</div>