<app-recherche (stringChange)="maRecherche($event);"></app-recherche>

<button type="button" class="btn btn-default" (click)="ajoutAgent()">Ajouter un agent</button>


<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <h4 class="center">Liste des agents</h4>
        <div class="table-responsive">

                
    <table id="mytable" class="table table-bordered table-striped">
                   
 		<thead>
			<th>Nom</th>
			<th>Matricule</th>
			<th>Modification</th>
    	</thead>

		<tbody>
    		<tr *ngFor="let agent of agents | async ">
    			<td>{{agent.nom}}</td>
    			<td>{{agent.matricule}}</td>
    			<td >

    				<button type="button" class="btn btn-default" (click)="modifierAgent(agent.id)">Editer</button>

    			</td>
    		</tr>
		</tbody>
        
</table>

        </div>
	</div>
</div>