

<!-- Partie pour la recherche -->
<div class="container">
    
<div class="recherche col-md-12">
    <form [formGroup]="formRecherche" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group ">
            <input type="text" formControlName="recherche" required >
        </div>


        <button type="submit" class="btn btn-secondary">RECHERCHE</button>
    </form>
</div>


	<div class="row tableau">

		
        <h4 class="center">Liste des agents</h4>
        
        <div class="col-md-6 table-responsive">

                
    <table id="mytable" class="table table-bordered ">
                   
 		<thead>
			<th>Nom</th>
			<th>Matricule</th>
			<th>Modification</th>
    	</thead>

		<tbody>
    		<tr *ngFor="let agent of agents | async">
    			<td>{{agent.nom}}</td>
    			<td>{{agent.matricule}}</td>
    			<td>

    				<button type="button" class="btn btn-default" (click)="modifierAgent(agent.id)">Editer</button>

                    <button type="button" class="btn btn-default" (click)="supprimerAgent(agent.id)">Supprimer</button>

    			</td>
    		</tr>
		</tbody>
        
</table>

        </div>

</div>

<div>
<button type="button" class="btn btn-default" (click)="ajoutAgent()">Ajouter un agent</button>

</div>

</div>