<div class="wrapper">
  <div class="col-md-4">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Espace virement</h2>  
      <label for="inputPassword6">Ancien mot de passe</label>   

      <input type="text" class="form-control" name="username" placeholder="Ancien" required="" autofocus="" /><div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div>
 <br/>

      <label for="inputPassword6">Nouveau mot de passe</label>   
       <input type="text" class="form-control" name="username" placeholder="Nouveau" required="" autofocus="" />  
       <br/> <br/>

     
      <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmer</button>   
    </form>
  </div></div>