<div class="wrapper">
    <form class="form-signin">       
      <h3 class="form-signin-heading">Espace virement</h3> 

<form class="form-inline"><div class="form-group">
    <label for="inputPassword6">Compte à débiter</label>
     <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
 <option selected>Open this select menu</option>
    <option value="1">compte courant</option>
   
    <option value="2">compte Epargne</option>
       
      </select>
  </div></form>

  <form class="form-inline"> <div class="form-group">
    <label for="inputPassword6">Compte à créditer</label>
   <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
      <option selected>Open this select menu</option>
    <option value="1">compte courant</option>
   
    <option value="2">compte Epargne</option>
       
      </select>
  </div>
   </form>


<div class="col-md-4">
<form class="form-signin">            
  <label for="inputPassword6">Montant</label>   
      <input type="text" class="form-control" name="username" placeholder="montant" required="" autofocus="" /> <br/>
      <label for="inputPassword6">Libelle</label>   
       <input type="text" class="form-control" name="username"  placeholder="Libelle" required="" autofocus="" />  
       <br/> <br/>


     
      <button class="btn btn-lg btn-primary btn-block" type="submit">Effectuer virement</button>   
    </form>
    <div>
  