<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Client</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <!-- <a class="nav-link" href="#">Changer mot de passe <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <!--  <a class="nav-link" href="#">Créer un compte</a> -->

       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/client']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Client</a>
      </li>

      <li class="nav-item">

         <a class="nav-link" [routerLink]="['/comptes']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Compte</a>
      </li>

      <li class="nav-item">

       <a class="nav-link" [routerLink]="['/mdp']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Changer mot de passe</a>
      </li>

      <li class="nav-item">
       <!--  <a class="nav-link" href="#">Créer un compte</a> -->

       <a class="nav-link" [routerLink]="['/commande']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Commander Chéquier</a>
      </li>

      <li class="nav-item">
       <!--  <a class="nav-link" href="#">Créer un compte</a> -->

       <a class="nav-link" [routerLink]="['/virement']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Effectuer virement</a>
      </li>
     
        <!-- <a class="nav-link " href="#">Se connecter</a> -->

        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/agent']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Agent</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/déconnexion']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Se deconnecter</a>
      </li>
    </ul>
    
  </div>
</nav>


