<div class="col-md-4">
<form [formGroup]="compteForm" (ngSubmit)="onSubmit()" novalidate>           
  <label for="inputPassword6">Type de compte</label>
  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="compteSelected">
        <option value="cc">Compte Courant</option>
        <option value="ce" selected="">Compte Epargne</option>
  </select>
<br/>
  	<label for="inputPassword6">Solde</label>
      <input type="text" class="form-control" name="solde" formControlName="solde" placeholder="solde"/> 

     <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer demande</button>   
    </form>
</div>