<div class="card" style="width: 40rem;">
  <div class="card-block">


	<div class="row">
		
        
       
        <div class="table-responsive">

                
              <table id="mytable" class="table table-hover">
                   
                   <thead>
                   
                  
                   <th>Nom</th>
                   <th>Prenom</th>
                  

                   </thead>
    <tbody>
    
    <tr *ngIf =agent >
          <td>{{agent.nom}}</td>
          <td>{{agent.prenom}}</td>
  
    </tr>
   </tbody>
</table>
</div>
</div>





  <div class="row">
    
        

        <div class="table-responsive">

                
              <table id="mytable" class="table table-hover">
                   
                   <thead>
                
               
     
                    <th>Numero de telephone</th>
                

                   </thead>
    <tbody>
    
    <tr *ngIf =agent >
   
    <td>{{agent.numTel}}</td>
  
    </tr>
   </tbody>
</table>
</div>
</div>




  <div class="row">
    
        

        <div class="table-responsive">

                
              <table id="mytable" class="table table-hover">
                   
                   <thead>
                   
        
               
    
                     <th>Mail</th>

                   </thead>
    <tbody>
    
    <tr *ngIf =agent >
  
     <td>{{agent.email}}</td>
   
    </tr>
   </tbody>
</table>
</div>
</div>


<a class="btn btn-primary">Contact</a>

</div></div>  


