
<form (ngSubmit)="onSubmit()" [formGroup]="userForm" novalidate>
<div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" formControlName="nom" id="nom" name="nom">
  </div>

  <div class="form-group">
    <label for="prenom">Prenom</label>
    <input type="text" class="form-control" formControlName="prenom" id="prenom"  name="prenom">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" id="email" name="mail">
  </div>


    <div class="form-group">
    <label for="numtel">Adresse</label>
    <input type="tel" class="form-control" formControlName="adresse" id="adresse" name="adresse">
  </div>

    <div class="form-group">
    <label for="numtel">Numero Telephone</label>
    <input type="tel" class="form-control" formControlName="numTel" id="numtel" name="numTel">
  </div>


    <div class="form-group">
    <label for="numtel">Nombre d'enfants</label>
    <input type="tel" class="form-control" formControlName="nbEnfants" id="nbEnfants" name="nbEnfants">
  </div>

      <div class="form-group">
    <label for="numtel">Situation Matrimonial</label>
    <input type="tel" class="form-control" formControlName="situationMatrimonial" id="situationMatrimonial" name="situationMatrimonial">
  </div>

   <div class="form-group">
    <label for="pieceidentite">Piece d'identité</label>
    <input type="file" class="form-control" id="pieceidentite">
  </div>

  <div class="form-group">
    <label for="justificatifsalaire">Justificatif de salaire</label>
    <input type="file" class="form-control" id="justificatifsalaire">
  </div>

   <div class="form-group">
    <label for="justificatifdomicile">Justificatif de domicile</label>
    <input type="file" class="form-control" id="justificatifdomicile">
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
