<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Espace virement</h2>  
      <label for="inputPassword6">Ancien mot de passe</label>   
      <input type="text" class="form-control" name="username" placeholder="" required="" autofocus="" /> <br/>
      <label for="inputPassword6">Nouveau mot de passe</label>   
       <input type="text" class="form-control" name="username" placeholder=" " required="" autofocus="" />  
       <br/> <br/>

     
      <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmer</button>   
    </form>
  </div>