<div class="row">
    
        
        <div class="col-sm-12">
        <div class="table">
<tr>

        <th scope="col" class="nav-link" [routerLink]="['../courant']">Compte Courant</th>
    

    </tr>
  

          <a class="nav-link active" >
                
              <table id="mytable" class="table table-hover">
                   
                   <thead>
                   
                   <!-- <th><input type="checkbox" id="checkall" /></th> -->
                  
                    <th>Numero de Compte</th>
                    <th>date de creation</th>
                    <th>solde</th>
                    <th>rib</th>
                     <th></th>
                   </thead>
    <tbody>
  
    <tr *ngFor = "let compte of comptes">
   
    <td>{{compte.numCompte}}</td>
    <td>{{compte.dateCreation | date:"dd/MM/yy hh:mm"}}</td>
    <td>{{compte.solde}}</td>
    <td>{{compte.rib}}</td>
 <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>

    </tr>
   </tbody>
</table></a>
</div></div>

</div>


<div class="row">
    
        
        <div class="col-sm-12">
        <div class="table">


     <tr>
      
     

       <th scope="col" class="nav-link">Compte Epargne</th>
    

    </tr>


          <a class="nav-link active" >
                
              <table id="mytable" class="table table-hover">
                   
                   <thead>
                   
                   <!-- <th><input type="checkbox" id="checkall" /></th> -->
                  
                    <th>Numero de Compte</th>
                    <th>Montant</th>
                     <th></th>
                   </thead>
    <tbody>
    
    <tr *ngFor = "let epargne of epargnes">
   
    <td>{{epargne.numEpargne}}</td>
    <td>{{epargne.montantEpargne}}</td>
 <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>

    </tr>
   </tbody>
</table></a>
</div></div>

</div>









