
<table class="table">
  <thead class="thead-dark">
    <tr>
      
     

        <th scope="col"><a class="nav-link" [routerLink]="['/courant']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Compte Courant</a></th>
    

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
    
    </tr>
    <tr>
      <th scope="row">2</th>
      
    </tr>
    <tr>
      <th scope="row">3</th>
     
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
     <tr>
      
     

        <th scope="col"><a class="nav-link" >Compte Epargne</a></th>
    

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      
    </tr>
    <tr>
      <th scope="row">3</th>
     
    </tr>
  </tbody>
</table>