<div class="row">
    
        
        <div class="col-md-10">
        <div class="table-responsive">

<table id="mytable" class="table table-bordred table-striped">
  <thead class="thead-dark">
    <tr>
      
     

        <th scope="col"><a class="nav-link" [routerLink]="['/courant']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Compte Courant</a></th>
    

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mon solde</th>
      <th>textarea</th>
    
    </tr>
    
  </tbody>
</table>

<table class="table" class="table table-bordred table-striped">
  <thead class="thead-light">
     <tr>
      
     

       <th scope="col"><a class="nav-link" href="comptes">Compte Epargne</a></th>
    

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">solde</th>
      <th>textarea</th>
      
    </tr>
    
  </tbody>
</table>
</div></div></div>









