<div class="wrapper">
	<div class="col-md-4">
    <form class="form-signin">       
      <h2 class="form-signin-heading"></h2>  
      <label for="inputPassword6">Montant</label>   
      <input type="text" class="form-control" name="username" placeholder="Montant" required="" autofocus="" /> <br/>
      <label for="inputPassword6">Libelle</label>   
       <input type="text" class="form-control" name="username" placeholder="Libelle" required="" autofocus="" />  
       <br/> <br/>
   </form>
</div>
	<div class="col-md-4">
			<form>
				<h2>Type</h2>
				<div class="form-check">
					<label>
						<input type="radio" name="radio" checked> <span class="label-text">Ponctuel</span>
					</label>
				</div>
				<div class="form-check">
					<label>
						<input type="radio" name="radio"> <span class="label-text">Permanent</span>
					</label>
				</div>
				 <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmer</button>  
				
			</form>
		</div>

  <div id="nav-placeholder">

</div>
 