<div class="wrapper">
	<div class="col-md-4">
      

   <form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Numero de compte</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">Compte Courant</option>
    <option value="2">Compte Epargne</option>
    
  </select>

 
</form>

<fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Format</legend>
      <div class="col-sm-10">
        <div class="form-check">
          
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            format 1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            format 2
          </label>
        </div>
       
      </div>
    </div>
  </fieldset>

</div>
	<div class="col-md-4">
			<form>
				
				
				 <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmer</button>  
				
			</form>
		</div>

  <div id="nav-placeholder">

</div>
 