
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: red;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: red;
  background-color: red;
}

.navbar-brand {
	background-color: #0275d8;
	
}

.navbar-toggleable-md .navbar-light .bg-faded {
	background-color: #0275d8;
	
}

.navbar-toggler {
	background-color: #0275d8;
	
}

.navbar-collapse {
	background-color: #0275d8;
	
}



