

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">


       <a class="nav-link" [routerLink]="['./chequier']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Demandes chéquier</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./newCompte']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Ouverture nouveau compte</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" [routerLink]="['./virement']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Demande de nouveaux indentifiants</a>

      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./demandeClient']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Demande d'ouverture de compte</a>

      </li>


    </ul>
    
  </div>
</nav>
